:root {
  --white: #F9F7F1;
  --green: #266320;
  --coral: #EE7674;
  --lightblue: rgb(168, 235, 237);
  --navy: #283B53;
}

html {
  scroll-behavior: smooth;
}

body {
  --background-color: var(--white);
  --border-color: var(--background-color);
  font-family: "Times New Roman", Times, Serif;
  font-size: 18px;
  margin: 0;
  transition: 1s;
  background-color: var(--background-color);
  border-color: var(background-color);
  overflow-x: hidden;
  color: var(--navy);
  letter-spacing: 1px;
  line-height: 1.5;
}

body.dark {
  --background-color: var(--navy);
  border-color: var(--navy);
  color: var(--lightblue);
}

div {
  margin: 0;
}

p {
  z-index: -1;
  text-align: justify;
  margin-right: 15%;
  margin-left: 15%;
}

h1 {
  text-align: center;
  color: var(--lightblue);
  font-size: 128px;
  font-weight: normal;
}

h2 {}

h3 {
  margin-left: 10%;
  font-weight: normal;
}

h4{
  float: left;
  font-weight: normal;
  margin-left:15%;
  line-height: 0;
}

svg {
  fill: var(--white);
}

img {
  width: 150px;
  margin: 0;
  float: right;
  /* padding-right: 10%; */
}

.menu-container {
  position: absolute;
  height: 100%;
  /* pointer-events: none; */
}

.content-header {
  /*JUST DO TEXT STROKE IN P5JS*/
  color: var(--lightblue);
  margin-left: 10%;
  font-size: 70px;
  /* text-shadow: var(--lightblue) 0px 0px 1px,   var(--lightblue) 0px 0px 1px,   var(--lightblue) 0px 0px 1px, var(--lightblue) 0px 0px 1px,
  var(--lightblue) 0px 0px 1px,   var(--lightblue) 0px 0px 1px,var(--lightblue) 0px 0px 1px,   var(--lightblue) 0px 0px 1px,   var(--lightblue) 0px 0px 1px,
  var(--lightblue) 0px 0px 1px,   var(--lightblue) 0px 0px 1px,   var(--lightblue) 0px 0px 1px; */
}

.content {
  pointer-events: none;
  opacity: 0;
  animation-name: menu-load;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  padding-top: 5%;
}

.works-content-container{
  margin-left: 20%;
  margin-right:20%;
}

.img-divs{
  height: 60%;
  /* height: 450px; */
}

#particle-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  pointer-events: none;
}

#title-container {
  position: relative;
  top: 35%;
  width: 800px;
  height: 80%;
  margin: 0 auto;
}

.tab-container {
  /*make a rect with same bg colour?*/
  background-color: var(--background-color);
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  height: 50px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-color: var(--lightblue);
  animation-name: border-load;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

.tablink {
  /* position: sticky;
  top: 5%; */
  font-family: "Georgia", Times, Serif;
  background-color: rgba(0, 0, 0, 0);
  border: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  float: left;
  width: 25%;
  height: 50px;
  cursor: pointer;
  outline: none;
  color: var(--coral);
  opacity: 0;
  font-size: 20px;
  /* margin-top:5%; */
}

.tablink:hover {
  border-color: var(--lightblue);
  background-color: rgba(168, 235, 237, 0.15);
  transition-duration: 0.5s;
}

.lightToggle {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
  outline: none;
  right:0;
  margin:0;
  margin-top: 8px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 30px;
  width: 105px;
  cursor: pointer;
}

#sun {
  fill: var(--white);
}

#line {
  fill: var(--coral);
}

#moon {
  fill: var(--navy);
}

#about {
  animation-name: menu-load;
  animation-duration: 4s;
  animation-delay: 6s;
  animation-fill-mode: both;
}

#works {
  animation-name: menu-load;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

#gallery {
  animation-name: menu-load;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

#contact {
  animation-name: menu-load;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes menu-load {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes border-load {
  from {
    opacity: 0;
    border-bottom-style: none;
  }

  to {
    opacity: 1;
    border-bottom-style: solid;
  }
}
